{:paths    ["src" "resources"]
 :deps     {org.clojure/clojure         {:mvn/version "1.11.1"}
            ;;
            cheshire/cheshire           {:mvn/version "5.11.0"}
            aleph/aleph                 {:mvn/version "0.6.1"}
            ;;
            io.github.nextjournal/clerk {:mvn/version "0.12.707"}}
 ;; clojure -M:outdated --upgrade
 :outdated {:extra-deps {com.github.liquidz/antq
                         {:mvn/version "RELEASE"}}
            :main-opts  ["-m" "antq.core"]}}
